<html>
    <body bgcolor='black', text="white", link="blue">
    <img src='https://http.cat/502'>
    <h1><code> You are not authorized to work on Project-Bodega </code></h1>
    <hr>
    <code>if you're curious, thanks for your interest. You aren't ready for Bodega yet. But we will find you soon. Thanks again.</code>
    <br>
    <br>
    <code>if you're furious, its fine. thats a primitive reaction to something which does not fir your worldview. not sorry to be real.  </code>
    </body>
</html>