

<html>
    <link href="./landingpage.html" rel="import"/>
    <style type="text/css">
        .centerImage
        {
            text-align: center;
            display: block;
        }
        </style>
    <body bgcolor="black", text="white", link="blue">
        
        
        <img src='https://projectbodegadb.blob.core.windows.net/media/TRANS.png' height="1000", width="1000" class="centerImage">
        <h6><code class="centerImage">#whoami</code></h1>
        <h6><code class="centerImage">{{ metausers }}</code></h1>    

        <h2><code class='centerImage'>"talent is universal, but opportunity is not."</code></h2>
        <form action="not-auth/" class="centerImage">
            <input type="submit" value="Not True"  />
        </form>

        <form action="home/" class="centerImage">
            <input type="submit" value="Facts!"  />
        </form>
        
    </body>
</html>