<html>
<tt>

    <body bgcolor="black", text="white", link="blue" >
    <p> Bodega Landing Page </>
    <p> {{time}} </p>
    <p> Intializing Solomon Build 0.0.3</p>
    <p>estimated launch time: 42 days</p>
    <p> random kanye quote: {{ kanye }}</p>
    <br>
    <br>
    <br>
    <code> thanks for being curious. </code>
    <code> here are the last steps for you. </code>
    <ul>
        <li> understand what we do - about us, faq are at bottom. they are written in simple human english. </li>
        <li> (all links mentioned above are WIP. so chill.) </li>
        <li> believe in why we do what we do - if you feel that you connect with our purpose at Bodega, then join our Discord </li>
        <li> If you dont like  Bodega, then exit() </li>
        <li> meet us!! - the fun part. we cant tell you how excited we are to meet you! </li>
    </ul>
    <hr width=10000px>
    <blockquote>
        <code>
    <p> what bodega team is working on: <p>
        <ul>
            <li> find 100 people who believe in Bodega & that eagles can hug. </li>
            <li> add two hyperlinks on website: info for creators & info for creators who know how to sell</li>
            <li> meet these 100 people. explain them how insanely stupid our idea is.</li>
            <li> the ones who stay, they can work with us on project bodega but first: what kind of crazy are you?.</li>
            <li> we need 3 types of people:
                <ol>
                    <li>who can create shit by using your skills.</li>
                    <li>who can talk to more creatives like you and tell you why bodega is where you need to be</li>
                </ol>
            </li>

            <li> contact us, faq, about us, privacy policy etc at bottom needs to be done ASAP</li>
        </ul>
    </code>
    </blockquote>
    <br>
    <br>
    <br>
    <br>
    <br>

<img src='https://i.gifer.com/U1g.gif' height=500 width=1000 />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="aboutbodega/">
    <input type="submit" value="what?why?how?-is-bodega"  />
</form>

<form action="contact-us/">
    <input type="submit" value="contact-bodega"  />
</form>
    <body>
    </tt>
</html>