<html>
<tt>

    <body bgcolor="black", text="white", link="blue" >
        
    <p> Bodega Landing Page </>
    <p> {{time}} </p>
    <p> intializing bodega website season 1</p>
    <p> intializing solomon build season null</p>
    <p>estimated launch time: 70 days</p>
    <p> random kanye quote: {{ kanye }}</p>
    <br>
    <br>
    <br>
    <code> thanks for being curious about Bodega. </code>
    <code> here are the next steps for you. </code>
    <ol>
        <li> what is Bodega? why was Bodega created? - faq are at bottom. they are written in simple human english. </li>
        <li> if you feel that you connect with our purpose at Bodega, then join our Discord </li>
        <li> e-meet us!! - the fun part. we cant tell you how excited we are to meet you! </li>
        <li> start hacking - after joining our Discord, share & collab with other mad creatives like you!</li>
    </ol>
    <hr width=10000px>
    <blockquote>
        <code>
    <p> what bodega team is working on: <p>
        <ol>
            <li> find 100 people who believe in Bodega & that eagles can hug. </li>
            <li> meet these 100 people. explain them how insanely stupid our idea is.</li>
            <li> the ones who stay, they can work with us on project bodega but first: what kind of crazy are you?.</li>
            <li> we need 2 types of people:
                <ol>
                    <li>who can create shit by using skills/talents.</li>
                    <li>who can talk to more creatives like you and tell you why bodega is where you need to be</li>
                </ol>
            </li>

            <li> Repeat 1-4 until the world is yours.</li>
        </ol>
    </code>
    </blockquote>
    <br>
    <br>
    <br>
    <br>
    <br>

<img src='https://i.gifer.com/U1g.gif' height=500 width=1000 />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="aboutbodega/">
    <input type="submit" value="what?why?how?-is-bodega"  />
</form>

<form action="contact-us/">
    <input type="submit" value="contact-bodega"  />
</form>
    <body>
    </tt>
</html>