<html>
<tt>

    <body bgcolor="black", text="white", link="blue">
    <p> Bodega Landing Page </>
    <p> {{time}} </p>
    <p> Intializing Solomon Build 0.0.2</p>
    <p>Estimated Launch time: 43 days</p>
    <p> random kanye quote: {{ kanye }}</p>
    <br>
    <br>
    <br>

    <hr width=10000px>
    <blockquote>
        <code>
    <p> checklist: <p>
        <ul>
            <li>Background GIF for Bodega</li>
            <li> two hyperlinks : one for creator and one for influencer- question: Who are you?</li>
            <li> very mystic.</li>
            <li> those two pages content - we will simply use a simple UI. text text images and hyperlinks</li>
            <li> if people want to sign up, then they can join our Discord server</li>
            <li> contact us, faq, about us, privacy policy etc at bottom</li>
        </ul>
    </code>
    </blockquote>



    <body>
    </tt>

</html>