<html>
    <code>
        you-can-create.md5 


if you are a coder, fashion designer, dancer, painter, singer, scientist, engineer etc, you are us - team at Bodega 
if you want to show your project with other creatives, you can work with us in making Bodega better.


Have you asked these questions?
why is it so difficult to kickstart our biz without Paid ADs?
why should I pay a monthly fees for my website hosting?
why do companies sell my data and make money but never share it?
Is my data being exploited rn?
Why cant I sell my digital-painting and my sneakers to someone in Japan or London?
Why do marketplaces charge so much? we can barely breathe at 20% commission?
why do marketplaces and companies pay us our own money after 30 days?
why does my workplace own all the stuff I have produced?
Why is it so tough to do simple business? 

We asked these questions and we asked: why not. wont that be cool?


here are some benefits for you as a Creator, if you join Bodega's community:

1. 0% commmission and $0 charged from Bodega 
2. 2.5% commission is charged on every sale which goes to Stripe Inc 
3. Upload & sell unlimited products - tees, videos, photos, sneakers, digital-watches etc - your product, your rules.
4. 100% yours - Just like NFTs, everything you produce or consume at Bodega is yours. you can share it via your Bodega-key 
5. Bodega-Key is a unique password which identifies you and all your projects at Bodega back to you. 
6. Instant payouts: no waiting for 30 days for marketplaces to pay you. we pay you instantly. 
7. brand value: you can be anonymous or reveal your real identity, we dont care. because we would never ask you for your SSNs, KYC etc. We outsourced that to more secure companies like Stripe Inc. Your project, Your choice. 
8. Kill Switch: if you want to start again? or you dont trust us with your data? Delete it. One tap and all data gone. 
9. No IP limitations (hopefully) : pokemon on a tshirt? mickey mouse as Iron man? we can do all that shit for now without copyright notices. but there is no guarantee here. we will update you regularly. 
10. global commerce - if we get fries in 10 mins and if we order diapers on the internet. why cant we do business with someone sitting in Japan, India, Europe, US, Australia, Russia, Ukraine, Africa, Argentina? how dumb does this sound? - Bodega is a place where you create & sell along with global creators. as we grow, you grow. 

This is not a definitve list. we know it'll keep on growing. we are a very small bootstrapped team so we will update you as we grow. 

your last & most imp question:
whats the future of Bodega? where we going?

we dont know honestly. we just wanted to build a place where we could meet different people based on their talent. we think that would be a sick place where we talk about ideas and where we have the free will to do anything. 

As Maeve summarizes our vision perfectly:
" "


in terms of next 1 year (+4-6 months),
1. we will raise some from people who are not VCs but hackers like us - people who can build shit. not dumb MBAs. 
2. we will build a 3D canvas for you guys to use each others 3D models to build new stuff on top of it. 
3. we will work hard on being properly decentralized by being a True DAO. more info here-->
4. we will use the money to hire members who are super passionate about our vision and are awesome at one particular skill set. 
5. By Q2 of 23, we will try to release $BDG coins. 
6. whats the use of another coin? 
7. ask yourself: how will send / receive money instantly from Japan or NY or London or Delhi? - we need our custom coin suited for creator-to-creator transactions. ofc, you can swap them out to ETH or BTC later on. 

    </code>
</html>